.jumbotron {
    background-color: #627684 !important;
    border-radius: 0 !important;
}
body {
    background-color: #FDFFFC;
}
h1 {
    color: #FDFFFC;
    text-shadow: 1px 1px 2px #4C5C67af !important;
}

.card-title {
    color: #fff;
}

h3 {
    font-size: 1.25em !important;
}

.card-body {
    padding: 0.5rem !important;
}

.col-sm {
    padding: 0 !important;
}

.manager-header {
    background-color: #1A425D !important;
}

.manager-body {
    background-color: #2B6C99af !important;
}

.manager-header > .card-title {
    text-shadow: 1px 1px 2px #0F2635af
}

.manager-header > h4 {
    color: #2B6C99;
}

.engineer-header {
    background-color: #21B96D !important;
}

.engineer-header > .card-title {
    text-shadow: 1px 1px 2px #198E54af
}

.engineer-body {
    background-color: #48DE93af !important;
}

.engineer-header > h4 {
    color: #48DE93;
}

.intern-header {
    background-color: #00ABC1 !important;
}

.intern-body {
    background-color: #0FE4FFaf !important;
}

.intern-header > .card-title {
    text-shadow: 1px 1px 2px #007E8Eaf
}

.intern-header > h4 {
    color: #0FE4FF !important;
}